body {
  /* display: ; */
}

.navbar {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px; */
}

.logo {
}

.rubrik {
  grid-column: 1/3;
  margin: 20px;
}

.text a {
  margin: 40px;
}

.overlay {
  /* background-size: cover; */
  border-radius: 10px;
  justify-content: center;
  grid-column: 1/5;
  display: flex;
  align-items: center;
}

.fronttext {
  background-image: url(bilbilder/learn-once-an-for-all-how-to-prompt-very-cool-cars-and-v0-gj7db4mux0ha1.png);
  background-repeat: no-repeat;
  height: 600px;
  width: 1080px;
  text-align: center;
  top: 300px;
}

.text {
  grid-column: 3/5;
  display: flex;
  justify-content: end;
  align-items: center;
  /* border: solid thin pink;
    grid-column: end;
    color: aqua;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
}

.sellparent{
  background-color: red;
}

.pagani{
  /* background-color: black; */
}